<!DOCTYPE html>
<html>
  <head>
    <title>Waaaaaaaay</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        #canvas_container {position: absolute; left: 0px; top: 0px; width: 1024px; height: 682px;}
    </style>
  </head>
  <body>
    <div id="canvas_container">
      <canvas id="canvas"></canvas>

    <div id = "searchFunction">
      <form name="usersearch" action="search" method="post">
        <input type="text" name="artworks" value = "Enter a list of artworks..." style = "width:600px; height=200px;" onfocus="this.value = '';">
        <input type="submit" value="Search">
      </form>
    </div>


    </div>
   
      
    


  </body>
</html>