<!DOCTYPE HTML>
<html>
<head>
<!--style>
  #progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }
</style-->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.csv.js"></script>
</head>
<body>

<h1>Enter a new item:</h1>
<form  action="/mfa/artwork/create" method="post">
        Name: <input name="artworkName" type="text">
        Access Number: <input name="artworkAccessNumber" type="text">
        <input type="submit" value="Submit">
      </form>
      <br/>
      <br/>

<h1>Upload csv files:</h1>
<div>
<form  action="/mfa/artwork/upload" enctype="multipart/form-data" id="form_upload" method="post">
<input type="file" id="myFile" name="myFile" />
<!--button onclick="abortRead();">Cancel read</button-->
<input type="submit" name="submit_upload" value="Upload">
</form>
<!--div id="progress_bar"><div class="percent">0%</div></div-->
<div id="byte_content"></div>
</body>
</html>
